body{
    margin: 0;
    text-align: center;
}

h1{
    margin-top: 0;
}

.top-container{
    background-color: #8DCBE6;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    position: relative;
    top: 20px;
    left:20%;

}

.bottom-cloud{
    position: absolute;
    left: 20%;

}

